{% extends 'pals/base.html' %}

{% block content %}
    <header class="masthead">
      <div class="intro-body">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h1 class="heading">{{question.question_text}}</h1>
              {% for answer in question.get_answers %}
                <!-- <p class="intro-text">{{ answer.answer_text }}</p> -->
                <input type="radio" name="answer" id="answer{{ forloop.counter }}" value="{{ answer.pk }}" />
                <label for="choice{{ forloop.counter }}">{{ answer.answer_text }}</label><br />
              {% endfor %}            
            </div>
            <p class="body-text">Click below to go to question:</p>
            <a href="{% url 'questionView' question.name %}" class="btn btn-circle"></a>
          </div>
        </div>
      </div>
    </header>
{% endblock %}